@{
    ViewData["Title"] = "Імпорт стилів з Excel";
}

<h2>Імпорт стилів з Excel-файлу</h2>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".xlsx" />
    <button type="submit">Завантажити</button>
    <a href="/DanceClasses/Index">Скасувати</a>
</form>